@import url('https://fonts.googleapis.com/css?family=Abel');

*{
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: white;
    background-size: cover;  
    display: flex;
    flex-flow: row wrap;
    font-family: Abel;
}


/*Navigation Bar - Start*/
.navBar{
    height:140px;
    width:100%;
    background: rgba(238, 223, 247, 0.28);
}

.navBar ul{
    float:right;
    margin-right: 25%;
    
}

.navBar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 200px;
    font-size: 16px;   
}

.navBar ul li a{
    text-decoration: none;
    color: #a4abb6;
    padding: 6px 13px 6px;
}

.navBar ul li a.currentPage,
.navBar ul li a:hover{
    color: #5068A9;
    transition: .4s;
}

.logo{
    font-family: Abel;
    line-height: 200px;
    margin-left: 25%;
    align-content: flex-start;
    display: inline-block;
    font-size: 20px;
    color: #5068A9;
    font-weight: 900;
}
/*Navigation Bar - End*/



/*Header - Start*/
.header{
    height: 128px;
    text-align: center;
    border-radius: 10px;
    padding: 50px 10px 100px 10px;
    margin: 10px;
    flex: 1 100%;  
}

.header h2{
    margin-top: 30px;
    font-weight: 300;
    color: #4a525d;
    font-size: 1.424em;
    font-size: 24px;
}

.header p{
    white-space: pre-line;
    font-size: 18px;
    color: #b2b8c2;
    line-height: 1.8;
    font-weight: 300;
}
/*Header - End*/



/*Main/Body - Start*/
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
    /*Gallery for Portfolio Page - Start*/
.main .gallery{
    position: relative;
    height:auto;
    width: 50%;
    margin: auto;
    display: grid;
    grid-gap: 1vmin;
    grid-auto-flow: dense;
}
    
.main .gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;  
}

.main .gallery .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.95);
    transition: 0.3s ease-in-out;
}

.main .gallery .img:hover img{
    filter: brightness(1.13);
}

.main .gallery .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.main .gallery .img:nth-child(2n+3){
    grid-column-start: span 1;
    grid-row-start: span 1;
    height: 500px;
}
.main .gallery .img:nth-child(4n+5){
    grid-column-start: span 3;
    grid-row-start: span 3;  
}
    /*Gallery for Portfolio Page - End*/
/*Main/Body - Start*/

/* Footer Start */
.footer{
    margin: 80px 0 30px 0;
    height: 80px;
    flex: 1 100%;
    text-align: center;
}

.footer h1{
    font-family: Abel;
    font-size: 13px;
    color: gray;
    font-weight: 300;
    margin: 20px;
}
/* Footer End */