@import url('https://fonts.googleapis.com/css?family=Abel');

*{
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: white;
    background-size: cover;  
    display: flex;
    flex-flow: row wrap;
    font-family: Abel;
}

/*Navigation Bar - Start*/
.navBar{
    height:140px;
    width:100%;
    background: rgba(238, 223, 247, 0.28);
}

.navBar ul{
    float:right;
    margin-right: 25%;
    
}

.navBar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 200px;
    font-size: 16px;   
}

.navBar ul li a{
    text-decoration: none;
    color: #a4abb6;
    padding: 6px 13px 6px;
}

.navBar ul li a.currentPage,
.navBar ul li a:hover{
    color: #5068A9;
    transition: .4s;
}

.logo{
    font-family: Abel;
    line-height: 200px;
    margin-left: 25%;
    align-content: flex-start;
    display: inline-block;
    font-size: 20px;
    color: #5068A9;
    font-weight: 900;
}
/*Navigation Bar - End*/



/*Header - Start*/
.header{
    height: 128px;
    text-align: center;
    border-radius: 10px;
    padding: 50px 10px 100px 10px;
    margin: 10px;
    flex: 1 100%;  
}

.header h2{
    margin-top: 30px;
    font-weight: 300;
    color: #4a525d;
    font-size: 1.424em;
    font-size: 24px;
}

.header p{
    white-space: pre-line;
    font-size: 18px;
    color: #b2b8c2;
    line-height: 1.8;
    font-weight: 300;
}
/*Header - End*/



/*Main/Body - Start*/
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
    /*Gallery for Portfolio Page - Start*/

.main .gallery{
    position: relative;
    height:auto;
    width: 60%;
    margin: auto;
    display: grid;
    grid-gap: 1vmin;
    grid-auto-flow: dense;
}
    /*Article for About Me Page*/
.main .article{
    position: center;
    background-color: #4a525d;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 800px;
}
    
.main .gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    font-family: Abel; 
}

.main .gallery .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.95);
}

.main .gallery .img h2{
    position: absolute;
    bottom: 33px;
    left:10px;
    color: #fff;
    font-size: 1.424em;
    font-weight: 300;
    transition: .3s all ease;
    transition-timing-function: linear;
}
.main .gallery .img h4
{
    position: absolute;
    bottom: 10px;
    left:10px;
    color: #b2b8c2;
    font-size: 15px;
    font-weight: 200;
    transition: .3s all ease;
    transition-timing-function: linear;
}
.main .gallery .img:hover h2,
.main .gallery .img:hover h4
{
    
    left:20px;
}

.main .gallery .img:hover img{
    filter: brightness(1.13);
}

.main .gallery .img:first-child{
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(2n+3){
    grid-column-start: span 2;
    grid-row-start: span 2;
    
}
.main .gallery .img:nth-child(4n+5){
    grid-column-start: span 3;
    grid-row-start: span 3;  
}
    /*Gallery for Portfolio Page - End*/
/*Main/Body - Start*/

/* Footer Start */
.footer{
    margin: 80px 0 30px 0;
    height: 80px;
    flex: 1 100%;
    text-align: center;
}

.footer h1{
    font-family: Abel;
    font-size: 13px;
    color: gray;
    font-weight: 300;
    margin: 20px;
}
    /*Social media icon - Start*/
.fa {
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }  
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color:  #3B5998;
  }
  
  .fa-twitter {
    color:  #55ACEE;
  }
  
  .fa-google {

    color: #dd4b39
  }
  
  .fa-linkedin {
    color: #007bb5;
  }
  /*Social media icon - End*/
/* Footer End */


/*flex box* - Start*/

.leftBox { 
    /*background: rgba(0, 0, 0, 0.6); */
    margin-left: 10%;
    flex: 1 100%; 
}


.rightBox {
    /*background: rgba(0, 0, 0, 0.6); */
    margin-top: 35px;
    padding-left: 80px;
    margin-right: 20%;
    flex: 1 100%;
}

.rightBox h4{
    font-weight: 300;
    color: #4a525d;
    font-family: Abel;
}

.rightBox p{
    color:#b2b8c2;
    font-family: Abel;
    line-height: 1.6;
    text-indent: 50px;
}

/*flex box* - End*/

/*Input box styling For Contact Page  - Start*/
input[type=text], select, textarea{
    width: 100%; 
    padding: 12px; 
    border: 2px solid#ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] 
{
    font-family: Abel;
    background-color:#3f4794;
    color:#fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
input[type=submit]:hover 
{
    background-color: lightblue;
}

.container label,.container p,.container select{
    color:#555;
    font-family: Abel;
}

.container{
    padding: 20px;
}
/*Input box styling For Contact Page - End*/



/*Responsive Page for mobile - Start*/
@media all and (min-width: 800px){
    .main{
        flex:3;
    }

    .leftBox{
        order:1;
    }

    .rightBox{
        order:3;
    }

    .main{
        order:2;
    }
    
    
    .footer{
        order:4;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex:1;
    }
}

@media only screen and (max-width: 1280px){
    .main .gallery{
        display: grid;
        width: 90%;
    }
    .logo{
        font-size: 14px;
    }
    .navBar ul li a{
        font-size: 15px; 
    }
    .header{
        padding: 0px 10px 0px 10px;
    }
    .header h2{
        font-size: 14px;
    }
    .header p{
        font-size: 12px;
    }
    
    .leftBox{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .main .gallery{
        display: block;
        width: 90%;
    }
    .main .gallery .img{
        display:block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
    }
    .logo{
        font-size: 14px;
        margin-left: 20px;
        line-height: 100px;
    }
    .navBar{
        height:110px;
        width:100%;
        background: rgba(238, 223, 247, 0.28);
    }
    .navBar ul{
        margin-right: 0px; 
    }
    .navBar ul li{
        line-height: 100px;
    }
    .navBar ul li a{
        font-size: 12px;
    }
    .header{
        padding: 0px 10px 40px 10px;
    }
    .header h2{
        font-size: 14px;
    }
    .header p{
        font-size: 12px;
        white-space: normal;
    }
    .footer h1{
        font-size: 13px;
    }

    .rightBox {
        padding-left: 20px;   
    }
    .leftBox{
        display: none;
    }
    
} 
@media only screen and (max-width: 320px){
    .logo{
        font-size: 11px;
        margin-left: 12px;
    }

    .navBar ul li a{
        font-size: 8px;
        margin-right: -10px;
    }

    .header{
        padding: 0px 10px 30% 10px;
    }
}  





/*Responsive Page for mobile - Start*//*Responsive Page for mobile - End*/